{% extends 'profil-base.html.twig' %}

{% block title %}Letu {{ app.user.username }}{% endblock %}

{% block javascripts %}
{% block importmap %}
{{ importmap(['app', 'recipe-form']) }}
{% endblock %}
{% endblock %}

{% block main %}
<section class="flex flex-column gap-15">
    <a class="btn" href="{{ path('profile_index') }}">Retour au profil</a>

    <div>
        <h1>Modifier la recette</h1>
        <h2 class="text-green">{{ recipe.title }}</h2>
    </div>

    {% include "_components/recipe-form.twig" %}
</section>
{% endblock %}