{% extends 'profil-base.html.twig' %}

{% block title %}Log in!{% endblock %}

{% block main %}
<section class="flex flex-column gap-15">
    <div>
        <h1>Modifier votre profil</h1>
    </div>

    {{ form_start(form) }}

    {{ form_widget(form) }}

    <button class="btn btn-green mt-8" type="submit">Modifier</button>

    {{ form_end(form) }}
</section>
{% endblock %}