* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;

  color: var(--color-dark);

  font-family: var(--font-family);
  font-size: var(--font-size-p);
  font-weight: var(--font-weight-regular);
  line-height: var(--line-height-p);

  transition: all 0.3s;
}

html {
  scroll-behavior: smooth;
}

body {
  overflow: hidden;
  width: 100%;
  max-width: 1920px;
  min-height: 100vh;

  margin: auto;

  background-color: var(--color-white);
  color: var(--color-dark);
  border-left: solid 1px var(--color-green);
  border-right: solid 1px var(--color-green);
}

/* Sidebar */
.sidebar {
  width: 100%;
  max-width: 300px;

  border-right: solid 1px var(--color-green);
}

.sidebar .logo {
  height: 24px;
}

.btn-nav {
  display: flex;
  width: 100%;
  padding: 8px 12px;
  gap: 10px;

  color: var(--color-dark);
  border: solid 1px var(--color-white);
  border-radius: 6px;
  transition: none;
}

.btn-nav:hover {
  border: solid 1px var(--color-green);
  background-color: var(--color-light-green);
}

.btn-nav.active {
  border: solid 1px var(--color-green);
  background-color: var(--color-green);
  color: var(--color-white);
  pointer-events: none;
}

/* Main */
main {
  flex: 1;
  height: 100vh;
  overflow-y: scroll;
}

section {
  width: 100%;
}

.section-content {
  max-width: 500px;
  margin: auto;
}

/* Table */
.table {
  font-size: var(--font-size-p);
  font-weight: var(--font-weight-regular);
  text-align: left;
  border-collapse: collapse;
}

.table th,
.table td {
  padding: 8px;
  text-align: left;
  border: 1px solid var(--color-dark);
}

.table th {
  background-color: var(--color-light-grey);
  font-size: var(--font-size-p);
  font-weight: var(--font-weight-bold);
}

.table tbody tr:nth-child(odd) {
  background-color: var(--color-white);
}

.table tbody tr:nth-child(even) {
  background-color: var(--color-light-grey);
}

/* Talbe Icon */
.icon-action img {
  width: 30px;
  height: 30px;
}

.icon-action:hover img {
  opacity: 0.8;
}

/* Table Image */
.table-img {
  width: 0;
  background-color: var(--color-white);
}

.table-img-ingredient {
  height: 100px;
}

.table-img-recipe {
  height: 300px;
}

/* Media Queries */
@media screen and (max-width: 1024px) {
}

@media screen and (max-width: 768px) {
}

@media screen and (max-width: 425px) {
}
