{% extends 'admin/admin-base.html.twig' %}

{% block main %}
<section class="flex flex-column pt-15">
  <a class="btn btn-primary" href="{{ path('admin_ingredient_add') }}">Ajouter</a>
</section>
{% endblock %}