/* Button */
.btn {
  width: fit-content;
  padding: 8px 12px;
  gap: 10px;

  color: var(--color-white);
  background-color: var(--color-dark);
  border-radius: 6px;
}

.btn:hover {
  opacity: 0.8;
}

/* Button Primary */
.btn-primary {
  color: var(--color-white);
  background-color: var(--color-green);
}

/* Button Red */
.btn-red {
  color: var(--color-white);
  background-color: var(--color-red);
}

/* Profile Picture */
.min-profile-picture {
  object-fit: cover;
  width: 24px;
  height: 24px;
  border-radius: 0.25rem;
}
