<footer class="flex flex-column items-center justify-center p-15 gap-7">
  <img src="{{ asset('logo-white.svg') }}" alt="Letu Logo">
  <p>
    DESIGN & DEV ✦
    <a class="text-link-footer" href="https://github.com/HeyAnto/letu" target="_blank">ANTONIN SIOLY</a>
  </p>
</footer>