{% extends 'admin/admin-base.html.twig' %}

{% block main %}
<section class="flex flex-column pt-15">
    <a class="btn" href="{{ path('admin_recipe_index') }}">Retour</a>
</section>

<section class="section-content flex flex-column pt-15">
    <h1>Ajouter une recette</h1>

    {{ form_start(form) }}

    {{ form_widget(form) }}

    <button type="submit" class="btn btn-primary">Ajouter</button>

    {{ form_end(form) }}
</section>
{% endblock %}